#popup-signup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1001;
    display: none;
}
.no-scroll {
    overflow: hidden;
}
#popup-signup.open{
    display: block !important
}

#popup-login{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1001;
    display: none;
}

#popup-login.open{
    display: block !important
}

.popup-content{
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    /* background: white; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-exit{
    position: absolute;
    top: -10px;
    right: -10px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 3;
}