<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/popup.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/signup.css">
    <link rel="stylesheet" href="../static/post.css">

    <title>Forun</title>
</head>
<body>
    {{ template "header" . }}
    <div class="container">
        {{ template "menu" . }}
    
        <div class="right-container">
            <div class="section-img">
                <img src="..//static/img/bivouac.png" class="img--section">
            </div>
            <div id="posts-container" class="posts-container">
            </div>
        </div>
    </div>
    <script>
    async function displayPosts() {
            console.log("test")

            try {
                const response = await fetch(`http://localhost:8081/api/post/display`, {
                    method: 'POST',
                    credentials: 'include'
                });
                console.log("ca marche")
                if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`);
                }
                const posts = await response.json();
                console.log(posts)
                const postsContainer = document.getElementById('posts-container');
                postsContainer.innerHTML = '';  // Clear existing content
                
                posts.forEach(post => {
                    console.log(post.theme)
                    const postElement = document.createElement('div');
                    postElement.className = 'post';
                    postElement.innerHTML = `
                    <div class="post-header">
                        <button class="post-modif"><img src="../static/img/icon/3points.png" class="icon-post-3points"></button> 
                        <div class="post-pointMap-theme">
                            <button class="post-theme" >${post.Theme}</button> 
                            <button class="post-pointMap">View on map<img src="../static/img/icon/ping.png" class="icon-post-pointMap"></button>
                        </div>   
                        <div class="post-user-date-picture">
                            <img src="../static/img/character.png" class="post-picture">
                            <div classe="post-user-date">
                                <p class="post-username">${post.Username}</p>
                                <small class="post-date">${new Date(post.CreatedAt).toLocaleString()}</small>
                            </div>
                        </div>
                        

                        <p class="post-print-content">${post.Content}</p>
                    
                        <div class="post-images">

                        </div>

                        <div class="post-interaction">
                            <button class="post-button-like"><img src="../static/img/icon/like.png" class="icon-post-like"></button>
                            <button class="post-button-dislike"><img src="../static/img/icon/dislike.png" class="icon-post-dislike"></button>
                            <button class="post-button-comment"><img src="../static/img/icon/comment.png" class="icon-post-comment"></button>
                            <button class="post-button-favorite"><img src="../static/img/icon/favorite.png" class="icon-post-favorite"></button>
                        </div>
                    </div>
                    `;
                    //${(post.Images || []).map(image => `<img src="${image.url}" alt="Post Image">`).join('')}
                    postsContainer.appendChild(postElement);
                });
            } catch (error) {
                console.error('Failed to fetch posts:', error);
            }
        }
        displayPosts()
    </script>
</body>
</html>