<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/popup.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/signup.css">
    <link rel="stylesheet" href="../static/post.css">

    <title>Forun</title>
</head>
<body>
    {{ template "header" . }}
    <div class="container">
        {{ template "menu" . }}
    
        <div class="right-container">
            <div class="section-img">
                <img src="..//static/img/bivouac.png" class="img--section">
            </div>
            <div class="posts-container">
            </div>
        </div>
    </div>
    <script>
        async function displayPosts() {
            try {
                const response = await fetch(`http://localhost:8081/api/post/display`, {
                    method: 'GET',
                    credentials: 'include'
                });
                if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`);
                }
                const posts = await response.json();
                const postsContainer = document.getElementById('posts-container');
                postsContainer.innerHTML = '';  // Clear existing content
                
                posts.forEach(post => {
                    const postElement = document.createElement('div');
                    postElement.className = 'post';
                    postElement.innerHTML = `
                        <div class="post-header">
                            <h2>${post.theme}</h2>
                            <p>${post.content}</p>
                            <small>${new Date(post.created_at).toLocaleString()}</small>
                        </div>
                        <div class="post-images">
                            ${post.images.map(image => `<img src="${image.url}" alt="Post Image">`).join('')}
                        </div>
                    `;
                    postsContainer.appendChild(postElement);
                });
            } catch (error) {
                console.error('Failed to fetch posts:', error);
            }
        }
    </script>
</body>
</html>