<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/popup.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/signup.css">
    <link rel="stylesheet" href="../static/post.css">
    <title>Profile</title>
</head>
<body>
    {{ template "header" . }}
    <div class="container">
        {{ template "menu" . }}
    
        <div class="right-container">
            <div class="section-account-info">
                <img src="../static/img/character.png" alt="" class="img--users">
                <div class="account-information">
                    <div class="account-details">
                        <p class="account-username" id="username"></p>
                        <a href="/edit"><img src="../static/img/icon/settings.png" alt="" class="icon--settings"></a>
                    </div>
                    <p class="account-email" id="email"></p>
                    <p class="account-password" id="password"></p>
                    <button href="/#" onclick="redirectToDeconnexion()" id="button-settings-deconnexion">DECONNEXION</button>
                </div>
            </div>
            <div class="container--bottom">
                <div id="posts-container" class="posts-container">
                </div>
            </div>
        </div>        
    </div>

    <script>
        async function fetchUserProfile(username) {
            try {
                const response = await fetch(`http://localhost:8081/api/profile/${username}`, {
                    method: 'GET',
                    credentials: 'include'
                });
                console.log('Response status:', response.status);
                console.log('Response headers:', response.headers);
                if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`);
                }
                const user = await response.json();
                console.log('User data:', user);
                document.getElementById('username').textContent = user.username;
                document.getElementById('email').textContent = user.email;
            } catch (error) {
                console.error('Failed to fetch user profile:', error);
            }
        }


        document.addEventListener('DOMContentLoaded', function() {
            const username = getCookie('username');
            if (username) {
                fetchUserProfile(username);
            }
        });

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        async function displayPosts() {
            try {
                const userId = getCookie('userId');
                const response = await fetch(`http://localhost:8081/api/profile/post/${userId}`, {
                    method: 'POST',
                    credentials: 'include'
                });
                if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`);
                }
                const posts = await response.json();
                const postsContainer = document.getElementById('posts-container');
                postsContainer.innerHTML = '';
                const username = getCookie('username');

                for (const post of posts) {
                    const status = await IsLiked(post.ID);
                    console.log(status);
                    const postElement = document.createElement('div');
                    postElement.className = 'post';

                    // Creating image elements if images exist
                    let imagesHtml = '';
                    console.log(post.Images);
                    if (post.Images && post.Images.length > 0) {
                        for (const image of post.Images) {
                            imagesHtml += `<img src="http://localhost:8081/uploads/${image.url}" class="post-image">`;
                        }
                    }

                    postElement.innerHTML = `
                    <div class="post-header">
                        ${post.Username === username ? `<button class="post-modif" onclick="editPost(${post.ID})"><img src="../static/img/icon/3points.png" class="icon--3points"></button>` : ''}
                        ${post.Username === username ? `<button class="post-modif" onclick="deletePost(${post.ID})"><img src="../static/img/icon/delete.png" id="icon-delete" class="icon--img"></button>` : ''}
                        <div class="container--button-post">
                            <button class="${post.Theme}">${post.Theme}<img src="../static/img/icon/${post.Theme}.png" class="icon--theme"></button> 
                            <button class="button--map" onclick="openMap(${post.ID})"><img src="../static/img/icon/ping.png" id="icon-ping" class="icon--img"></button>
                        </div> 
                        <div class="post-user-date-picture">
                            <img src="../static/img/character.png" class="post-picture">
                            <div class="post-user-date">
                                <p class="post-username">${post.Username}</p>
                                <small class="post-date">${new Date(post.CreatedAt).toLocaleString()}</small>
                            </div>
                        </div>
                        <p class="post-print-content">${post.Content}</p>
                        <div class="post-images">
                            ${imagesHtml}
                        </div>
                        <div class="post-interaction">
                            <button class="icon--left" onclick="likePost(${post.ID})"><img src="../static/img/icon/like_${status}.png" class="icon--img"></button>
                            <button class="icon--left" onclick="dislikePost(${post.ID})"><img src="../static/img/icon/dislike_${status}.png" class="icon--img"></button>                            
                            <button class="icon--right" onclick="toggleComments(${post.ID})"><img src="../static/img/icon/comment.png" class="icon--img"></button>
                            <button class="icon--right"><img src="../static/img/icon/favorite.png" class="icon--img"></button>
                        </div>
                        <div class="comments-container" id="comments-${post.ID}">
                        </div>
                    </div>
                    `;
                    postsContainer.appendChild(postElement);
                }
            } catch (error) {
                console.error('Failed to fetch posts:', error);
            }
        }

        function openMap(postId) {
            window.location.href = `http://localhost:8080/maps/${postId}`;
        }

        function redirectToDeconnexion() {
            if (confirm("Vous allez être déconnecter ? ")) {
                fetch('http://localhost:8081/api/deconnexion', {
                    method: 'POST',
                    credentials: 'include' // Inclure les cookies dans la requête
                })
                .then(response => {
                    if (response.ok) {
                        // Function to delete all cookies
                        function deleteAllCookies() {
                            // Get all cookies
                            var cookies = document.cookie.split(";");

                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = cookies[i];
                                var eqPos = cookie.indexOf("=");
                                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
                            }
                        }

                        // Call the function to delete all cookies
                        deleteAllCookies();

                        // Redirect to the home page
                        window.location.href = "/";
                    } else {
                        console.error('Erreur lors de la suppression de l\'utilisateur');
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de la suppression de l\'utilisateur:', error);
                });
            }
        }


        async function deletePost(postId) {
            if (confirm("Êtes-vous sûr de vouloir supprimer ? Cela sera définitif.")) {
                try {
                    const response = await fetch(`http://localhost:8081/api/post/delete/${postId}`, {
                        method: 'DELETE',
                        credentials: 'include'
                    });
                    if (!response.ok) {
                        const errorData = await response.json();
                        alert(errorData.error);
                        throw new Error(`Error: ${response.statusText}`);
                    }
                    const result = await response.json();
                    console.log(result.message);
                    displayPosts();
                }catch (error) {
                    console.error('Failed to delete post:',error);
                }
            }
        }

        async function likePost(postId) {
            try {
                const response = await fetch(`http://localhost:8081/api/post/like/${postId}`, {
                    method: 'POST',
                    credentials: 'include'
                });
                if (!response.ok) {
                    const errorData = await response.json();
                    alert(errorData.error);
                    throw new Error(`Error: ${response.statusText}`);
                }
                const result = await response.json();
                console.log(result.message);
                displayPosts();
            } catch (error) {
                console.error('Failed to like post:', error);
            }
        }
        
        async function dislikePost(postId) {
            try {
                const response = await fetch(`http://localhost:8081/api/post/dislike/${postId}`, {
                    method: 'POST',
                    credentials: 'include'
                });
                if (!response.ok) {
                    const errorData = await response.json();
                    alert(errorData.error); // Show the error message to the user
                    throw new Error(`Error: ${response.statusText}`);
                }
                const result = await response.json();
                console.log(result.message);
                displayPosts(); // Refresh posts to reflect the new dislike count
            } catch (error) {
                console.error('Failed to dislike post:', error);
            }
        }

        async function IsLiked(postId) {
            try {
                const response = await fetch(`http://localhost:8081/api/post/isLiked/${postId}`, {
                    method: 'GET', // ou 'POST' si nécessaire
                    credentials: 'include' // inclure les cookies dans la requête si nécessaire
                });
                
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const userInteraction = await response.json();
                console.log('User interaction:', userInteraction);
                return userInteraction

            } catch (error) {
                console.error('Failed to check interaction:', error);
            }
        }
        
        
        async function displayComments(postId, commentsContainer) {
            try {
                const response = await fetch(`http://localhost:8081/api/comment/${postId}`, {
                    method: 'GET',
                    credentials: 'include'
                });
                if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`);
                }
                const comments = await response.json();

                commentsContainer.innerHTML = ''; // Clear existing comments

                const commentForm = document.createElement('div');
                commentForm.className = 'comment-form';
                commentForm.innerHTML = `
                    <textarea class="input--comment" id="comment-input-${postId}" placeholder="Write a comment..."></textarea>
                    <button type="submit" onclick="submitComment(${postId})" ><img src="../static/img/icon/send.png" class="icon--img"></button>
                `;
                commentsContainer.appendChild(commentForm);

                comments.forEach(comment => {
                    const commentElement = document.createElement('div');
                    commentElement.className = 'comment';
                    commentElement.innerHTML = `
                        <div class="comment-user-data">
                            <img src="../static/img/character.png" class="comment-picture">
                            <div class="comment-user-date">
                                <p class="comment-username">${comment.Username}</p>
                                <small class="comment-date">${new Date(comment.CreatedAt).toLocaleString()}</small>
                            </div>
                        </div>
                        <p class="comment-content">${comment.Content}</p>
                    `;
                    commentsContainer.appendChild(commentElement);
                });

                const commentInput = document.getElementById(`comment-input-${postId}`);
                commentInput.focus();
                commentInput.select();
            } catch (error) {
                console.error('Failed to fetch comments:', error);
            }
        }

        async function toggleComments(postId) {
            const commentsContainer = document.getElementById(`comments-${postId}`);
            if (commentsContainer.innerHTML === '') {
                // Close other comment sections
                document.querySelectorAll('.comments-container').forEach(container => {
                    if (container.id !== `comments-${postId}`) {
                        container.innerHTML = '';
                    }
                });
                await displayComments(postId, commentsContainer);
            } else {
                commentsContainer.innerHTML = ''; // Close comment section
            }
        }

        async function submitComment(postId) {
            const commentInput = document.getElementById(`comment-input-${postId}`);
            const content = commentInput.value;

            if (!content) {
                alert("Comment cannot be empty");
                return;
            }

            try {
                const response = await fetch(`http://localhost:8081/api/comment/create/${postId}`, {
                    method: 'POST',
                    credentials: 'include',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ content })
                });

                if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`);
                }

                commentInput.value = '';
                const commentsContainer = document.getElementById(`comments-${postId}`);
                await displayComments(postId, commentsContainer);
            } catch (error) {
                console.error('Failed to submit comment:', error);
            }
        }

        displayPosts();
    </script>
</body>
</html>