{{ define "header" }}
<div class="header">
    <a href="/"><img src="../static/img/logo.png" alt="" class="img--logo"></a>
    <div class="search-bar">
        <img src="../static/img/search.png" alt="" class="img--search">
        <form class="search-form" action="">
            <input oninput="search()" class="input--search-bar" name="search-bar" id="search-bar"  value="" type="text" placeholder="Search anything....">
        </form>
        <button class="button-filter"><img src="../static/img/filter.png" alt="" class="img--filter"></button>
    </div>
    <a href="/#" onclick="redirectToUserProfile()"><img src="../static/img/character.png" alt="" class="img--character"></a>
</div>

<script>
    async function search() {
        let query = document.getElementById('search-bar').value.trim();
        if (!query) {
            displayResults([]);  // Clear results if query is empty
            return;
        }

        try {
            console.log("test")
            let response = await fetch(`http://localhost:8081/api/search?query=${encodeURIComponent(query)}`);
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            console.log("ca passe")


            let data = await response.json();
            console.log(data)

            // if (response.ok) {
            //     console.log(data)
            // } else {
            //     console.log(data)
            // }
            console.log("fini")
        } catch (error) {
            console.error('Error:', error);
        }
    }

    function displayResults(results) {
        let resultsContainer = document.getElementById('search-results');
        resultsContainer.innerHTML = '';
        if (results.length === 0) {
            resultsContainer.innerHTML = '<p>No results found</p>';
            return;
        }
        results.forEach(result => {
            let resultElement = document.createElement('div');
            resultElement.innerHTML = `<h2>${result.theme}</h2><p>${result.content}</p>`;
            resultsContainer.appendChild(resultElement);
        });
    }
    function redirectToUserProfile() {
        let username = getCookie("username");
        if (username) {
            window.location.href = `/profile/${encodeURIComponent(username)}`;
        } else {
            window.location.href = "/";
        }
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>


{{ end }}