{{ define "header" }}
<div class="header">
    <a href="/"><img src="../static/img/logo.png" alt="" class="img--logo"></a>
    <div class="search-bar">
        <img src="../static/img/search.png" alt="" class="img--search">
        <form class="search-form" action="">
            <input oninput="search()" class="input--search-bar" name="search-bar" id="search-bar"  value="" type="text" placeholder="Search anything....">
        </form>
        <button class="button-filter"><img src="../static/img/filter.png" alt="" class="img--filter"></button>
    </div>
    <a href="/#" onclick="redirectToUserProfile()"><img src="../static/img/character.png" alt="" class="img--character"></a>
</div>

<script>
    function displayResults(results) {
        let resultsContainer = document.getElementById('search-results');
        resultsContainer.innerHTML = '';
        if (results.length === 0) {
            resultsContainer.innerHTML = '<p>No results found</p>';
            return;
        }
        results.forEach(result => {
            let resultElement = document.createElement('div');
            resultElement.innerHTML = `<h2>${result.theme}</h2><p>${result.content}</p>`;
            resultsContainer.appendChild(resultElement);
        });
    }
    function redirectToUserProfile() {
        let username = localStorage.getItem("username");
        if (username) {
            window.location.href = `/profile/${encodeURIComponent(username)}`;
        } else {
            window.location.href = "/";
        }
    }

    function getLocalStorageItem(key) {
        return localStorage.getItem(key);
    }

    function setLocalStorageItem(key, value) {
        localStorage.setItem(key, value);
    }

    
    async function likePost(postId) {
            const userId = localStorage.getItem('userId'); // Récupère userId de Local Storage
            const username = localStorage.getItem('username'); // Récupère username de Local Storage

            if (!userId || !username) {
                console.error('UserID or Username not found in local storage');
                return;
            }

            try {
                const response = await fetch(`http://localhost:8081/api/post/like/${postId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'UserID': userId, // Ajoute userId dans les en-têtes
                        'Username': username // Ajoute username dans les en-têtes
                    }
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    alert(errorData.error);
                    throw new Error(`Error: ${response.statusText}`);
                }
                const result = await response.json();
                console.log(result.message);
                displayPosts();
            } catch (error) {
                console.error('Failed to like post:', error);
            }
        }
        
    async function dislikePost(postId) {
            const userId = localStorage.getItem('userId'); // Récupère userId de Local Storage
            const username = localStorage.getItem('username'); // Récupère username de Local Storage

            if (!userId || !username) {
                console.error('UserID or Username not found in local storage');
                return;
            }

            try {
                const response = await fetch(`http://localhost:8081/api/post/dislike/${postId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'UserID': userId, // Ajoute userId dans les en-têtes
                        'Username': username // Ajoute username dans les en-têtes
                    }
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    alert(errorData.error);
                    throw new Error(`Error: ${response.statusText}`);
                }
                const result = await response.json();
                console.log(result.message);
                displayPosts(); // Refresh posts to reflect the new dislike count
            } catch (error) {
                console.error('Failed to dislike post:', error);
            }
        }

    async function IsLiked(postId) {
            const userId = localStorage.getItem('userId'); // Récupère userId de Local Storage
            const username = localStorage.getItem('username'); // Récupère username de Local Storage

            if (!userId || !username) {
                console.error('UserID or Username not found in local storage');
                return;
            }

            try {
                const response = await fetch(`http://localhost:8081/api/post/isLiked/${postId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'UserID': userId, // Ajoute userId dans les en-têtes
                        'Username': username // Ajoute username dans les en-têtes
                    }
                });
                
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const userInteraction = await response.json();
                console.log('User interaction:', userInteraction);
                return userInteraction;
            } catch (error) {
                console.error('Failed to check interaction:', error);
            }
        }
        
        
</script>

{{ end }}
