{{ define "login" }}
<div id="popup-login">
    <div id="popup-overlay">
        <div class="popup-content">
            <button onclick="togglePopupLogin()" class="popup-exit">
                <img src="../static/img/icon/x.png" class="img--icon-x">
            </button>
            <div class="login-container">
                <div class="login-left-section">
                    <h1 class="login-title-welcome">DÉCOUVREZ<br/>DE NOUVEAUX<br/>HORIZONS</h1>
                    <img class="login-img-welcome" src="../static/img/welcome.png" alt="Welcome">
                </div>
                <div class="login-right-section">
                    <div class="login-form">
                        <h2 class="login-title-second">Welcome Back<br/>To <span>Forun</span></h2>
                        <button type="button" class="login-with-github-btn" onclick="GithubLogin()" id="GithubLogin">Github</button>
                        <button type="button" class="login-with-facebook-btn" onclick="FacebookLogin()" id="FacebookLogin">Facebook</button>
                        <button type="button" class="login-with-google-btn" onclick="GoogleLogin()" id="GoogleLogin">Google</button>
                        <form id="login-form">
                            <div class="login-input-auth">
                                <input type="email" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="login-input-auth">
                                <input type="password" id="password-login" name="password" placeholder="Password" required>
                                <span class="login-password-toggle">
                                    <img src="/static/img/icon/eye_lock.png" class="login-img-eye" id="closed-eye-login" onclick="showOpen()">
                                    <img src="/static/img/icon/eye_open.png" class="login-img-eye" id="open-eye-login" onclick="showClosed()" style="display: none;">
                                </span>
                            </div>
                            <div class="messageError" id="ErrorLogin"></div>
                            <button class="login-button-auth" type="submit">Login</button>
                        </form>
                        <p class="message">Don't have an account? <a href="javascript:void(0)" onclick="togglePopupSignup(); togglePopupLogin();">Sign Up</a></p>
                    </div>
                </div>
            </div>

            <script>


                async function GithubLogin() {
                    const origin = window.location.href;
                    console.log("Origine :", origin);
                    try {
                        console.log("1 :", origin);

                        const response = await fetch(`http://localhost:8081/api/login/github?origin=${encodeURIComponent(origin)}`);
                        console.log("2 :", origin);

                        if (response.ok) {
                            const result = await response.json();
                            messageDiv.textContent = 'Connexion réussie';
                            localStorage.setItem('username', result.user.username); // Assure que 'username' est une propriété de 'user' dans la réponse
                            localStorage.setItem('userId', result.user.id); // Assure que 'id' est une propriété de 'user' dans la réponse
                            window.location.href = `/profile/${result.user.username}`;
                        }
                        console.log("3 :", origin);

                    } catch (error) {
                        displayError(error.message);
                    }
                }



                async function FacebookLogin() {
                    const origin = window.location.href;
                    console.log("Origine :", origin);
                    let FacebookLogin = document.getElementById('FacebookLogin').value.trim();
                    try {
                        window.location.href ='http://localhost:8081/api/login/facebook?origin=${encodeURIComponent(origin)}';//?FacebookLogin=${encodeURIComponent(FacebookLogin)}');
                        if (response.ok) {
                        messageDiv.textContent = 'Connexion réussie';
                        localStorage.setItem('username', result.user.username); // Assure que 'username' est une propriété de 'user' dans la réponse
                        localStorage.setItem('userId', result.user.id); // Assure que 'id' est une propriété de 'user' dans la réponse
                        window.location.href = `/profile/${result.user.username}`;
                    }
                    } catch (error) {
                        displayError(error.message);
                    }
                }

                async function GoogleLogin() {
                    const origin = window.location.href;
                    console.log("Origine :", origin);
                    let GoogleLogin = document.getElementById('GoogleLogin').value.trim();
                    try {
                        window.location.href = 'http://localhost:8081/api/login/google?origin=${encodeURIComponent(origin)}';//?GoogleLogin=${encodeURIComponent(GoogleLogin)}');
                        if (response.ok) {
                        messageDiv.textContent = 'Connexion réussie';
                        localStorage.setItem('username', result.user.username); // Assure que 'username' est une propriété de 'user' dans la réponse
                        localStorage.setItem('userId', result.user.id); // Assure que 'id' est une propriété de 'user' dans la réponse
                        window.location.href = `/profile/${result.user.username}`;
                    }
                    } catch (error) {
                        displayError(error.message);
                    }
                }

                function handleLoginResponse(response, result) {
                    const messageDiv = document.getElementById('ErrorLogin');
                    if (response.ok) {
                        messageDiv.textContent = 'Connexion réussie';
                        localStorage.setItem('username', result.user.username); // Assure que 'username' est une propriété de 'user' dans la réponse
                        localStorage.setItem('userId', result.user.id); // Assure que 'id' est une propriété de 'user' dans la réponse
                        togglePopupLogin();
                        window.location.href = `/profile/${result.user.username}`;
                    } else {
                        messageDiv.textContent = result.error || 'Erreur de connexion';
                    }
                }

                function displayError(message) {
                    const messageDiv = document.getElementById('ErrorLogin');
                    messageDiv.textContent = message;
                }

                function togglePopupLogin() {
                    const popup = document.getElementById("popup-login");
                    popup.classList.toggle("open");
                    document.body.classList.toggle('no-scroll');
                }

                function showOpen() {
                    const closedEye = document.getElementById('closed-eye-login');
                    const openEye = document.getElementById('open-eye-login');
                    const password = document.getElementById('password-login');
                    openEye.style.display = "block";
                    closedEye.style.display = "none";
                    password.type = "text";
                }

                function showClosed() {
                    const closedEye = document.getElementById('closed-eye-login');
                    const openEye = document.getElementById('open-eye-login');
                    const password = document.getElementById('password-login');
                    openEye.style.display = "none";
                    closedEye.style.display = "block";
                    password.type = "password";
                }

                document.getElementById('login-form').addEventListener('submit', async function(event) {
                    event.preventDefault();
                    const email = document.getElementById('email').value;
                    const password = document.getElementById('password-login').value;
                    try {
                        const response = await fetch('http://localhost:8081/api/login', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ email, password }),
                        });
                        const result = await response.json();
                        handleLoginResponse(response, result);
                    } catch (error) {
                        displayError(error.message);
                    }
                });
            </script>
        </div>
    </div>
</div>
{{ end }}
