{{ define "post-modif" }}
<div id="post-overlay-modif">
    <div class="post-content">
        <div id="theme-button-modif" class="Bivouac">Bivouac</div>
        <img src="../static/img/character.png" alt="" class="img--user">
        <div class="post-input">
            <form id="create-post-form-modif" action="/create-post" method="post" enctype="multipart/form-data">
                <input type="hidden" id="posts-id-modif" name="lat" value="">
                <input type="hidden" id="ping-lat-modif" name="lat" value="">
                <input type="hidden" id="ping-lng-modif" name="lng" value="">
                <textarea id="content-modif" name="content" maxlength="280" placeholder="Where did you travel?!"></textarea>
                <input type="hidden" id="theme-modif" name="theme" value="Bivouac">
                <div id="image-preview-modif" class="image-preview"></div>
                <p id="nb-word-modif" class="text"><span>0</span>/280</p>
                <div class="horizontal-bar"></div>
                <div class="left-icon">
                    <label for="images-modif" class="image-input-label">
                        <img src="../static/img/icon/img.png" alt="Choose image" class="icon--img">
                    </label>
                    <input type="file" id="images-modif" name="images" multiple style="display: none;">
                </div>
                <div class="right-icon">
                    <button type="submit" onclick="displayPostsModif()"><img src="../static/img/icon/send.png" alt="" class="icon--img"></button>
                    <a href="javascript:void(0)" onclick="togglePopupPostModif()"><img src="../static/img/icon/delete.png" alt="" class="icon--img"></a>
                </div>
            </form>
            <div id="message-modif"></div>
        </div>
    </div>
</div>

<script>
    document.getElementById('create-post-form-modif').addEventListener('submit', async function(event) {
        event.preventDefault();

        const formData = new FormData();

        const postId = document.getElementById('posts-id-modif').value;
        formData.append('theme', document.getElementById('theme-modif').value);
        formData.append('content', document.getElementById('content-modif').value);
        formData.append('lat', document.getElementById('ping-lat-modif').value);
        formData.append('lng', document.getElementById('ping-lng-modif').value);

        const fileNames = [];
        filesModif.forEach(file => {
            fileNames.push(file.name);
        });
        formData.append('images', JSON.stringify(fileNames));

        const messageDiv = document.getElementById('message-modif');
        try {
            const response = await fetch(`http://20.74.39.125:8081/api/post/modif/${postId}`, {
                method: 'POST',
                body: formData,
       
            });
            const result = await response.json();
            if (response.ok) {
                messageDiv.textContent = 'Post created modified';
                togglePopupPostModif()
            } else {
                messageDiv.textContent = `Error: ${result.error}`;
            }
        } catch (error) {
            messageDiv.textContent = `Error: ${error.message}`;
        }
    });

    const themeButtonModif = document.getElementById('theme-button-modif');
    const themeInputModif = document.getElementById('theme-modif');

    themeButtonModif.addEventListener('click', () => {
        if (themeButtonModif.classList.contains('Bivouac')) {
            themeButtonModif.classList.remove('Bivouac');
            themeButtonModif.classList.add('Alpinisme');
            themeButtonModif.textContent = 'Alpinisme';
            themeInputModif.value = 'Alpinisme';
        } else if (themeButtonModif.classList.contains('Alpinisme')) {
            themeButtonModif.classList.remove('Alpinisme');
            themeButtonModif.classList.add('Treck');
            themeButtonModif.textContent = 'Treck';
            themeInputModif.value = 'Treck';
        } else if (themeButtonModif.classList.contains('Treck')) {
            themeButtonModif.classList.remove('Treck');
            themeButtonModif.classList.add('Randonné');
            themeButtonModif.textContent = 'Randonné';
            themeInputModif.value = 'Randonné';
        } else {
            themeButtonModif.classList.remove('Randonné');
            themeButtonModif.classList.add('Bivouac');
            themeButtonModif.textContent = 'Bivouac';
            themeInputModif.value = 'Bivouac';
        }
    });

    let filesModif = [];

    function togglePopupPostModif() {
        let popup = document.querySelector("#post-overlay-modif");
        popup.classList.toggle("open");
        document.body.classList.toggle('no-scroll');
    }

    document.getElementById("content-modif").addEventListener("input", function() {
        var count = this.value.length;
        document.getElementById("nb-word-modif").innerHTML = `<span>${count}</span>/280`;
    });

    const imageInputModif = document.getElementById('images-modif');
    const imagePreviewModif = document.getElementById('image-preview-modif');
    const imageInputLabelModif = document.querySelector('.image-input-label');

    imageInputModif.addEventListener('change', function() {
        const newFiles = Array.prototype.slice.call(imageInputModif.files);
        filesModif = filesModif.concat(newFiles);
        imageInputModif.value = '';
        displayPreviewModif();
    });

    imagePreviewModif.addEventListener('click', function(event) {
        if (event.target.classList.contains('image-preview-item')) {
            event.target.remove();
            const index = filesModif.findIndex(file => file.name === event.target.alt);
            if (index > -1) {
                filesModif.splice(index, 1);
            }
        }
    });

    function displayPreviewModif() {
        imagePreviewModif.innerHTML = '';
        filesModif.forEach(file => {
            const reader = new FileReader();
            reader.onload = function(event) {
                const imageData = event.target.result;
                const imageHTML = `<img src="${imageData}" alt="${file.name}" class="image-preview-item">`;
                imagePreviewModif.innerHTML += imageHTML;
            };
            reader.readAsDataURL(file);
        });
    }
</script>
{{ end }}
