<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/popup.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/signup.css">
    <title>Profile</title>
</head>
<body>
    {{ template "header" . }}
    <div class="container">
        {{ template "menu" . }}
    
        <div class="right-container">
            <div class="section-account-info">
                <button onclick="redirectToEditPage()">Editer</button>

                <script>
                    function redirectToEditPage() {
                        window.location.href = "/edit";
                    }
                </script>
            </div>
            <div class="posts-container"></div>
        </div>
        
    </div>
</body>
</html>