<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/popup.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/signup.css">
    <title>Profile</title>
</head>
<body>
    {{ template "header" . }}
    <div class="container">
        {{ template "menu" . }}
    
        <div class="right-container">
            <div class="section-account-info">
                <img src="../static/img/character.png" alt="" class="img--user">
                <div class="account-information">
                    <div class="account-details">
                        <p class="account-username">{{ .Username }}</p>
                        <a href="/settings"><img src="../static/img/icon/settings.png" alt="" class="icon--settings"></a>
                    </div>
                    <p class="account-email">tom.calvo74@gmail.com</p>
                </div>
            </div>
            <div class="posts-container"></div>
        </div>        
    </div>
</body>
</html>