<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/popup.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/signup.css">
    <link rel="stylesheet" href="../static/post.css">
    <title>Profile</title>
</head>
<body>
    {{ template "header" . }}
    <div class="container">
        {{ template "menu" . }}
    
        <div class="right-container">
            <div class="section-account-info">
                <img src="../static/img/character.png" alt="" class="img--users">
                <div class="account-information">
                    <div class="account-details">
                        <p class="account-username" id="username"></p>
                        <a href="/edit"><img src="../static/img/icon/settings.png" alt="" class="icon--settings"></a>
                    </div>
                    <p class="account-email" id="email"></p>
                    <p class="account-password" id="password"></p>
                </div>
            </div>
            <div class="posts-container"></div>
        </div>        
    </div>

    <script>
        async function fetchUserProfile(username) {
            try {
                const response = await fetch(`http://localhost:8081/api/profile/${username}`, {
                    method: 'GET',
                    credentials: 'include'
                });
                if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`);
                }
                const user = await response.json();
                document.getElementById('username').textContent = user.username;
                document.getElementById('email').textContent = user.email;
            } catch (error) {
                console.error('Failed to fetch user profile:', error);
            }
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            const username = localStorage.getItem('username');
            if (username) {
                fetchUserProfile(username);
            }
        });
    </script>
</body>
</html>
