{{ define "header" }}
<div class="header">
    <a href="/"><img src="../static/img/logo.png" alt="" class="img--logo"></a>
    <div class="search-bar">
        <img src="../static/img/search.png" alt="" class="img--search">
        <form class="search-form" onsubmit="search(event)">
            <input oninput="search()" class="input--search-bar" name="search-bar" id="search-bar" value="" type="text" placeholder="Search anything....">
        </form>
        <button class="button-filter"><img src="../static/img/filter.png" alt="" class="img--filter"></button>
    </div>
    <a href="/#" onclick="redirectToUserProfile()"><img src="../static/img/character.png" alt="" class="img--character"></a>
</div>

<div id="search-results"></div>

<script>
    // async function search() {
    //     console.log("ouai")
    //     let query = document.getElementById('search-bar').value.trim();
    //     if (!query) {
    //         displayResults([]);  // Clear results if query is empty
    //         return;
    //     }

    //     try {
    //         let response = await fetch(`/api/search?query=${encodeURIComponent(query)}`);
    //         if (!response.ok) {
    //             throw new Error(`HTTP error! Status: ${response.status}`);
    //         }

    //         let data = await response.json();
    //         displayResults(data);
    //     } catch (error) {
    //         console.error('Error:', error);
    //     }
    // }

    // function displayResults(results) {
    //     let resultsContainer = document.getElementById('search-results');
    //     resultsContainer.innerHTML = '';
    //     if (results.length === 0) {
    //         resultsContainer.innerHTML = '<p>No results found</p>';
    //         return;
    //     }
    //     results.forEach(result => {
    //         let resultElement = document.createElement('div');
    //         resultElement.innerHTML = `<h2>${result.theme}</h2><p>${result.content}</p>`;
    //         resultsContainer.appendChild(resultElement);
    //     });
    // }

    function redirectToUserProfile() {
        let username = getCookie("username");
        if (username) {
            window.location.href = `/profile/${encodeURIComponent(username)}`;
        } else {
            window.location.href = "/";
        }
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            let c = ca[i].trim();
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>
{{ end }}
