{{ define "menu"}}
<div class="left-container">
    <div class="redirection-button-container">
        <button onclick="checkAndExecute(togglePopupLogin)" class="button-redirection">home <img src="../static/img/icon/home.png" class="img--icon-redirection"></button>
        <button onclick="togglePopupPost()" class="button-redirection button-redirection--post">Post <img src="../static/img/icon/post.png" class="img--icon-redirection"></button>
    </div>
    <div class="section">
        <p class="section-title">Section (4)</p>
        <div class="section-button-container">
            <button  onclick="checkAndExecute(togglePopupLogin)" class="button-section"><img src="../static/img/icon/alpinisme.png" class="img--icon"> Alpinisme</button>
            <button onclick="checkAndExecute(togglePopupLogin)" class="button-section"><img src="../static/img/icon/bivouac.png" class="img--icon"> Bivouac</button>
            <button onclick="checkAndExecute(togglePopupLogin)" class="button-section"><img src="../static/img/icon/randone.png" class="img--icon"> Randonée</button>
            <button onclick="checkAndExecute(togglePopupLogin)" class="button-section"><img src="../static/img/icon/treck.png" class="img--icon"> Treck</button>
        </div>
    </div>
    <div class="map">
        <p class="map-title">MAP</p>
        <img src="../static/img/map.png" class="img--map">
    </div>
</div>
<script>
    function checkAndExecute(callback) {
        if (checkUserLoggedIn()) {
            window.location.href = '/';
        } else {
            callback();
        }
    }

    function checkUserLoggedIn() {
        return document.cookie.split(';').some((cookie) => cookie.trim().startsWith('userId='));
    }
</script>
{{ template "post" . }}
{{ template "login" . }}
{{ template "signup" . }}

{{ end }}


